input {
  all: unset;
}

/**** layout */
form {
  width: 100%;
}

/**** styles */
/* field wrapper */
.field {
  width: 100%;
  margin: 20px auto;
}

/* disabled & hidden fields */
.radio-disabled,
.checkbox-disabled,
.media-disabled,
.radio-group-disabled,
.select-disabled,
.switch-disabled,
.text-disabled,
.list-disabled,
.table-disabled
{
  opacity: 0.3;
}

.radio-hidden,
.checkbox-hidden,
.media-hidden,
.radio-group-hidden,
.select-hidden,
.switch-hidden,
.text-hidden,
.list-hidden,
.table-hidden
{
  display: none;
}

/* buttons */
.submit, .button {
  font-size: 20px;
  padding: 10px 15px;
  transition: all 230ms ease-out;
  background-color: var(--button-color-light, #222);
  color: var(--button-text-light, #fff);
  border-radius: 5px;
  border: none;
}

.submit :hover, .submit :focus {
  background-color: var(--button-color-hover-light, #666);
  box-shadow: 0 0 5px 0px var(--input-focused-shadow-light, #888);
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .submit  {
    background-color: var(--button-color-dark, #eee);
    color: var(--button-text-dark);
  }
  .submit :hover, .submit :focus {
    background-color: var(--button-color-hover-dark, #fff);
    box-shadow: 0 0 5px 0px var(--input-focused-shadow-dark, #999);
  }
}

/* labels & messages */
.label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: var(--label-color-light, #555);
}
.instructions {
  font-size: 13px;
  margin-top: 5px;
}
.error-message {
  display: block;
  width: 100%;
}
.error-message, .label-has-error {
  color: var(--error-message, #c00);
}

@media (prefers-color-scheme: dark) {
  .label {
    color: var(--label-color-dark, #fff);
  }
}

/* text inputs */
.input, .input-multiline {
  width: calc(100% - 20px);
  border-radius: 4px;
  padding: 0 10px;
  line-height: 1;
  height: 35px;
  font-size: 15px;
  color: var(--input-text-color-light, #333);
  border: 1px solid var(--input-border-light, #888);
  background-color: var(--input-background-light, #fff);
  transition: all 230ms ease-out;
}
.input:focus, .input-multiline:focus {
  box-shadow: 0 0 2px 0px var(--input-focused-shadow-light, #888);
  outline: none;
}
.input-multiline {
  width: 100%;
  margin: 0;
  height: 100px;
  padding: 10px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.text-input .label {
  display: block;
  width: 100%;
}

.input-has-error {
  border: 1px solid var(--input-border-error-light, #ff7070) !important;
}

.list-wrap .input {
  margin-bottom: 3px;
}

@media (prefers-color-scheme: dark) {
  .input, .input-multiline {
    color: var(--input-text-color-dark, '#fff');
    background-color: var(--input-background-dark, #333);
    border: 1px solid var(--input-border-dark, #444);
  }
  .input:focus, .input-multiline:focus {
    box-shadow: 0 0 2px 2px var(--input-focused-shadow-dark, #999);
  }
  .input-has-error {
    border: 1px solid var(--input-border-error-dark, #ff7070) !important;
  }
}

/* checkbox & radios */
.checkbox-wrap, .radio-wrap, .switch-wrap {
  display: flex;
  width: 100%;
  align-items: center;
}

.radio-wrap {
  height: 30px;
  margin-top: 5px;
}
.radio-wrap label, .checkbox-wrap label, .switch-wrap label {
  font-size: 14px;
  line-height: 18px;
}
.switch-wrap {
  margin-top: 10px;
  height: 20px;
}
.switch-wrap label {
  width: calc(100% - 50px);
}

.checkbox, .radio {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  flex-basis: 25px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 4px;
  background-color: var(--checkbox-background-light, #fff);
  border: 1px solid var(--checkbox-border-light, #888);
  transition: all 230ms ease-out;
}

.switch {
  position: relative;
  flex-basis: 50px;
  width: 42px;
  height: 25px;
  border-radius: 9999px;
  background-color: var(--switch-off-background-light, rgb(148, 148, 148));
  -webkit-tap-highlight-color: var(--switch-off-background-light, rgb(148, 148, 148));
  border: none;
  transition: all 230ms ease-out;
}

.radio {
  border-radius: 25px;
}
.checkbox-wrap .label {
  width: calc(100% - 30px)
}
.checkbox-wrap .instructions {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
}

.checkbox:hover, .checkbox:focus, .radio:focus, .radio:hover {
  box-shadow: 0 0 3px 0 var(--input-focused-shadow-light, #888);
  outline: none;
}

.checkbox-indicator, .radio-group-indicator {
  color: var(--checkbox-check-light, #000);
}

.radio-group-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.radio-group-indicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--radio-select-indicator-light, #555);
}

.switch:focus {
  box-shadow: 0 0 2px 0 var(--input-focused-shadow-light, #888);
}
.switch[data-state='checked'] {
  background-color: var(--switch-on-background-light, rgb(55, 199, 55));
}

.switch-toggle {
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 130ms ease-out;
  transform: translateX(-3px);
  will-change: transform;
}

.switch-toggle[data-state='checked'] {
  transform: translateX(21px);
}

@media (prefers-color-scheme: dark) {
  .checkbox, .radio {
    background-color: var(--checkbox-background-dark, #111);
    border: 1px solid var(--checkbox-border-dark, #bbb);
  }
  .checkbox:hover, .checkbox:focus, .radio:focus, .radio:hover  {
    box-shadow: 0 0 9px 0 var(--input-focused-shadow-dark, #999);
  }
  .checkbox-indicator, .radio-group-indicator {
    color: var(--checkbox-check-dark, #fff);
  }
  .radio-group-indicator::after {
    background-color: var(--radio-select-indicator-dark, #bbb);
  }
  .switch {
    background-color: var(--switch-off-background-dark, rgb(125, 125, 125));
    -webkit-tap-highlight-color: var(--switch-off-background-dark, rgb(125, 125, 125));
  }
  .switch:focus, .switch:hover {
    box-shadow: 0 0 9px 0 var(--input-focused-shadow-dark, #999);
  }
  .switch[data-state='checked'] {
    background-color: var(--switch-on-background-dark, rgb(55, 199, 55));
  }
}

/* select */
.select-wrap .label {
  display: block;
  width: 100%;
}

.select-trigger {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: var(--input-background-light, #fff);
  color: var(--input-text-color-light, #333);
  border: 1px solid var(--input-border-light, #888);
}

.select-trigger:hover, .select-trigger:focus  {
  box-shadow: 0 0 2px 0 var(--input-focused-shadow-light, #888);
  outline: none;
}

.select-trigger[data-placeholder], .select-icon {
  color: var(--select-placeholder-color-light, #777);
}

.select-content {
  overflow: hidden;
  border-radius: 6px;
  background-color: var(--input-background-light, #fff);
  box-shadow: 0px 10px 38px -10px var(--select-content-shadow-light, rgba(22, 23, 24, 0.35)), 0px 10px 20px -15px var(--select-content-shadow-light, rgba(22, 23, 24, 0.35));
}

.select-viewport {
  padding: 5px;
  padding-bottom: 10px;
}

.select-item {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  color: var(--input-text-color-light, #333);
}

.select-item[data-disabled] {
  color: var(--select-item-disabled-light, #ddd);
  pointer-events: none;
}

.select-item[data-highlighted] {
  outline: none;
  background-color: var(--select-highlight-background-light, rgb(228, 228, 228));
  color: var(--select-highlight-text-light, #222);
  border: none;
}

.select-label {
  padding: 0 25px;
  font-size: 11px;
  line-height: 25px;
  margin-top: 10px;
  color: var(--select-group-label-light, rgb(158, 158, 158));
}

.item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: default;
  background-color: var(--input-background-light, #fff);
  color: var(--input-text-color-light, #333);
}

@media (prefers-color-scheme: dark) {
  .select-trigger {
    background-color: var(--input-background-dark, #333);
    color: var(--input-text-color-dark, #fff);
    border: 1px solid var(--input-border-dark, #444);
  }

  .select-trigger:hover, .select-trigger:focus  {
    box-shadow: 0 0 4px 0 var(--input-focused-shadow-dark, #999);
  }
  .select-trigger[data-placeholder], .select-icon {
    color: var(--select-placeholder-color-dark, #777);
  }
  .select-content {
    background-color: var(--input-background-dark, #333);
    box-shadow: 0px 10px 38px -10px var(--select-content-shadow-dark, rgba(190, 190, 190, 0.35)), 0px 10px 20px -15px var(--select-content-shadow-dark, rgba(190, 190, 190, 0.35));
  }
  .select-item {
    color: var(--input-text-color-dark, #fff);
  }
  .select-item[data-highlighted] {
    outline: none;
    background-color: var(--select-highlight-background-dark, rgb(89, 89, 89));
    color: var(--select-highlight-text-dark, rgb(241, 241, 241));
    border: none;
  }
  .select-item[data-disabled] {
    color: var(--select-item-disabled-dark, #555);
  }
  .select-scroll-button {
    background-color: var(--input-background-dark, #333);
    color: var(--input-text-color-dark, #fff);
  }
}

.media-wrap .label {
  display: block;
  width: 100%;
}

.media-target {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--media-target-background-light, #eee);
}

.media-target:has(.media-input:focus) {
  box-shadow: 0 0 4px 0px var(--input-focused-shadow-light, #888);
}

.media-preview {
  position: absolute;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.media-target-thumb {
  width: 160px;
}

.media-target-thumb {
  position: relative;
  flex: 1;
}

.media-drop {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.media-drop svg {
  display: block;
  width: 35px;
  margin-top: 25px;
  flex: 1;
  color: var(--media-target-icon-color-light, rgb(207, 207, 207));
}

.media-drop p {
  font-size: 10px;
  text-align: center;
  flex: 1;
}

.media-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.media-info span, .media-info a {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  margin: 5px 0;
}

.media-info .remove-media {
  cursor: pointer;
}

.media-info .file-name {
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  .media-target {
    background-color: var(--media-target-background-dark, rgb(86, 86, 86));
  }
  .media-target:has(.media-input:focus) {
    box-shadow: 0 0 4px 0px var(--input-focused-shadow-dark, #999);
  }
  .media-drop svg {
    color: var(--media-target-icon-color-light, rgb(144, 144, 144));
  }
}

/* lists */
.list-item-wrap,
.table-item-wrap {
  display: flex;
}

.list-item-wrap .input,
.table-item-wrap .input  {
  width: calc(100% - 69px);
  margin-right: 10px;
}

.table-headings {
  display: flex;
}

.table-headings span {
  display: block;
  width: calc(35% + 30px);
  font-weight: bold;
}

.table-item-wrap .input {
  width: 35%;
  margin-bottom: 3px;
}

.list-item-wrap button,
.table-item-wrap button {
  width: 30px;
  height: 36px;
  flex-basis: 35px;
}

.list-wrap button ,
.table-wrap button {
  font-size: 14px;
  padding: 5px 10px;
}
