input {
  all: unset;
}

/**** layout */
form {
  width: 100%;
}

/* field wrapper */
.field {
  width: 100%;
  margin: 20px auto;
}

/**** styles */
/* buttons */
.submit {
  font-size: 20px;
  padding: 10px 15px;
  transition: all 230ms ease-out;
  background-color: var(--button-color-light);
  color: var(--button-text-light);
  border-radius: 5px;
  border: none;
}

.submit :hover, .submit :focus {
  background-color: var(--button-color-hover-light);
  box-shadow: 0 0 5px 0px var(--input-focused-shadow-light);
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .submit  {
    background-color: var(--button-color-dark);
    color: var(--button-text-dark);
  }
  .submit :hover, .submit :focus {
    background-color: var(--button-color-hover-dark);
    box-shadow: 0 0 5px 0px var(--input-focused-shadow-dark);
  }
}

/* labels & messages */
.label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: var(--label-color-light);
}
.instructions {
  font-size: 13px;
}
.error-message {
  display: block;
  width: 100%;
}
.error-message, .label-has-error {
  color: var(--error-message);
}

@media (prefers-color-scheme: dark) {
  .label {
    color: var(--label-color-dark);
  }
}

/* text inputs */
.input, .input-multiline {
  width: calc(100% - 20px);
  border-radius: 4px;
  padding: 0 10px;
  line-height: 1;
  height: 35px;
  font-size: 15px;
  color: var(--input-text-color-light);
  border: 1px solid var(--input-border-light);
  background-color: var(--input-background-light);
  transition: all 230ms ease-out;
}
.input:focus, .input-multiline:focus {
  box-shadow: 0 0 3px 0px var(--input-focused-shadow-light);
  outline: none;
}
.input-multiline {
  width: 100%;
  margin: 0;
  height: 100px;
  padding: 10px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.text-input .label {
  display: block;
  width: 100%;
}

.input-has-error {
  border: 1px solid var(--input-border-error-light) !important;
}

@media (prefers-color-scheme: dark) {
  .input, .input-multiline {
    color: var(--input-text-color-dark, '#fff');
    background-color: var(--input-background-dark);
    border: 1px solid var(--input-border-dark);
  }
  .input:focus, .input-multiline:focus {
    box-shadow: 0 0 2px 2px var(--input-focused-shadow-dark);
  }
  .input-has-error {
    border: 1px solid var(--input-border-error-dark) !important;
  }
}

/* checkbox & radios */
.checkbox-wrap, .radio-wrap, .switch-wrap {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}

.radio-wrap {
  height: 30px;
  margin-top: 5px;
}
.radio-wrap, .checkbox-wrap label {
  font-size: 14px;
}
.switch-wrap {
  margin-top: 10px;
  height: 20px;
}
.switch-wrap label {
  width: calc(100% - 50px);
}


.checkbox, .radio {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  flex-basis: 25px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 4px;
  background-color: var(--checkbox-background-light);
  border: 1px solid var(--checkbox-border-light);
  transition: all 230ms ease-out;
}

.switch {
  position: relative;
  flex-basis: 50px;
  width: 42px;
  height: 25px;
  border-radius: 9999px;
  background-color: var(--switch-off-background-light);
  -webkit-tap-highlight-color: var(--switch-off-background-light);
  border: none;
}

.radio {
  border-radius: 25px;
}
.checkbox-wrap .label {
  width: calc(100% - 30px)
}
.checkbox-wrap .instructions {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
}

.checkbox:hover, .checkbox:focus, .radio:focus, .radio:hover {
  box-shadow: 0 0 3px 0 var(--input-focused-shadow-light);
  outline: none;
}

.checkbox-indicator, .radio-group-indicator {
  color: var(--checkbox-check-light);
}

.radio-group-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.radio-group-indicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--radio-select-indicator-light);
}

.switch:focus {
  box-shadow: 0 0 2px 0 var(--input-focused-shadow-light);
}
.switch[data-state='checked'] {
  background-color: var(--switch-on-background-light);
}

.switch-toggle {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(-3px);
  will-change: transform;
}

.switch-toggle[data-state='checked'] {
  transform: translateX(20px);
}


@media (prefers-color-scheme: dark) {
  .checkbox, .radio {
    background-color: var(--checkbox-background-dark);
    border: 1px solid var(--checkbox-border-dark);
  }
  .checkbox:hover, .checkbox:focus, .radio:focus, .radio:hover  {
    box-shadow: 0 0 9px 0 var(--input-focused-shadow-dark);
  }
  .checkbox-indicator, .radio-group-indicator {
    color: var(--checkbox-check-dark);
  }
  .radio-group-indicator::after {
    background-color: var(--radio-select-indicator-dark);
  }
  .switch {
    background-color: var(--switch-off-background-dark);
    -webkit-tap-highlight-color: var(--switch-off-background-dark);
  }
  .switch:focus, .switch:hover {
    box-shadow: 0 0 9px 0 var(--input-focused-shadow-dark);
  }
  .switch[data-state='checked'] {
    background-color: var(--switch-on-background-dark);
  }
}

/* select */
.select-wrap .label {
  display: block;
  width: 100%;
}

.select-trigger {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: var(--input-background-light);
  color: var(--input-text-color-light);
  border: 1px solid var(--input-border-light);
}

.select-trigger:hover, .select-trigger:focus  {
  box-shadow: 0 0 2px 0 var(--input-focused-shadow-light);
  outline: none;
}

.select-trigger[data-placeholder], .select-icon {
  color: var(--select-placeholder-color-light);
}

.select-content {
  overflow: hidden;
  border-radius: 6px;
  background-color: var(--input-background-light);
  box-shadow: 0px 10px 38px -10px var(--select-content-shadow-light), 0px 10px 20px -15px var(--select-content-shadow-light);
}

.select-viewport {
  padding: 5px;
  padding-bottom: 10px;
}

.select-item {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  color: var(--input-text-color-light);
}

.select-item[data-disabled] {
  color: var(--select-item-disabled-light);
  pointer-events: none;
}

.select-item[data-highlighted] {
  outline: none;
  background-color: var(--select-highlight-background-light);
  color: var(--select-highlight-text-light);
  border: none;
}

.select-label {
  padding: 0 25px;
  font-size: 11px;
  line-height: 25px;
  margin-top: 10px;
  color: var(--select-group-label-light);
}

.item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.select-scroll-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: default;
  background-color: var(--input-background-light);
  color: var(--input-text-color-light);
}


@media (prefers-color-scheme: dark) {
  .select-trigger {
    background-color: var(--input-background-dark);
    color: var(--input-text-color-dark);
    border: 1px solid var(--input-border-dark);
  }

  .select-trigger:hover, .select-trigger:focus  {
    box-shadow: 0 0 4px 0 var(--input-focused-shadow-dark);
  }
  .select-trigger[data-placeholder], .select-icon {
    color: var(--select-placeholder-color-dark);
  }
  .select-content {
    background-color: var(--input-background-dark);
    box-shadow: 0px 10px 38px -10px var(--select-content-shadow-dark), 0px 10px 20px -15px var(--select-content-shadow-dark);
  }
  .select-item {
    color: var(--input-text-color-dark);
  }
  .select-item[data-highlighted] {
    outline: none;
    background-color: var(--select-highlight-background-dark);
    color: var(--select-highlight-text-dark);
    border: none;
  }
  .select-item[data-disabled] {
    color: var(--select-item-disabled-dark);
  }
  .select-scroll-button {
    background-color: var(--input-background-dark);
    color: var(--input-text-color-dark);
  }
}

.media-wrap .label {
  display: block;
  width: 100%;
}

.media-target {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--media-target-background-light);
}

.media-preview {
  position: absolute;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
}

.media-drop {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.media-drop svg {
  display: block;
  width: 35px;
  margin-top: 25px;
  flex: 1;
  color: var(--media-target-icon-color-light);
}

.media-drop p {
  font-size: 10px;
  text-align: center;
  flex: 1;
}

.media-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.media-info span, .media-info a {
  display: block;
  font-size: 12px;
  line-height: 1;
  margin: 5px 0;
}

.media-info a {
  cursor: pointer;
}

