/* rds variables */
:root {
  --button-color-light: #222;
  --button-color-hover-light: #666;
  --button-text-light: #fff;

  --button-color-dark: #eee;
  --button-color-hover-dark: #fff;
  --button-text-dark: #222;

  --label-color-light: #555;
  --label-color-dark: #fff;

  --input-text-color-light: #333;
  --input-text-color-dark: #fff;
  --input-background-light: #fff;
  --input-background-dark: #333;
  --input-border-light: #888;
  --input-border-dark: #444;
  --input-focused-shadow-light: #888;
  --input-focused-shadow-dark: #999;
  --input-border-error-light: #ff7070;
  --input-border-error-dark: #ff7070;

  --checkbox-background-light: #fff;
  --checkbox-background-dark: #111;
  --checkbox-border-light: #888;
  --checkbox-border-dark: #bbb;
  --checkbox-check-light: #000;
  --checkbox-check-dark: #fff;

  --switch-on-background-light: rgb(55, 199, 55);
  --switch-on-background-dark: rgb(55, 199, 55);
  --switch-off-background-light: rgb(148, 148, 148);
  --switch-off-background-dark: rgb(125, 125, 125);

  --radio-select-indicator-light: #555;
  --radio-select-indicator-dark: #bbb;

  --select-placeholder-color-light: #777;
  --select-placeholder-color-dark: #777;
  --select-group-label-light: rgb(158, 158, 158);
  --select-group-label-dark: #aaa;
  --select-highlight-text-light: #222;
  --select-highlight-background-light: rgb(228, 228, 228);
  --select-highlight-text-dark: rgb(241, 241, 241);
  --select-highlight-background-dark: rgb(89, 89, 89);

  --select-item-disabled-light: #ddd;
  --select-item-disabled-dark: #555;

  --select-content-shadow-light: rgba(22, 23, 24, 0.35);
  --select-content-shadow-dark: rgba(190, 190, 190, 0.35);

  --media-target-background-light: #eee;
  --media-target-background-dark: rgb(86, 86, 86);
  --media-target-icon-color-light: rgb(207, 207, 207);
  --media-target-icon-color-dark: rgb(144, 144, 144);

  --link-color:  rgb(72, 202, 238);
  --code-color:  rgb(240, 167, 72);
  --error-message: #cc0000;
}

/* form specific to demo */
.field-code .input {
  width: 60px;
}


/* global styles for demo site */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

a {
  color: var(--link-color);
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: white;
    color: #333;
  }
}

.container {
  padding: 0 2rem;
  line-height: 1.8;
}

.main {
  min-height: 80vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 10px auto;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eee;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.footer a {

}

.intro p {
  margin: 1rem 0;
}

.intro a {
  color: var(--link-color);
  text-decoration: none;
}

.intro a:hover,
.intro a:focus,
.intro a:active {
  text-decoration: underline;
}

.intro h2 {
  width: 100%;
  margin: 0;
  line-height: .8;
  font-size: 4rem;
  margin-bottom: 10px;
  padding-right: 30px;
  text-align: left;
}

h3 {
  width: 100%;
  margin: 15px 0 0 0;
  text-align: left;
}

.preview {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.demo .switch:not([data-state='unchecked'])  {
  background-color: skyblue;
  -webkit-tap-highlight-color: skyblue;
}
/* .demo .switch {
  background-color: grey;
  -webkit-tap-highlight-color: grey;
} */

.demo {
  width: 100%;
}

/* docs */
.docs-link {
  margin: 2rem 0;
  font-size: 20px;
  padding: 10px 25px;
  transition: all 230ms ease-out;
  background-color: var(--button-color-light, #222);
  color: var(--button-text-light, #fff);
  border-radius: 5px;
  border: none;
}

.docs-layout {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.docs-layout main {
  flex: 4;
  padding: 0 15px;
}

.docs-layout section {
  flex: 1;
  margin: 40px;
  text-align: right;
}

.docs-layout .back {
  display: block;
  font-size: 13px;
}

.docs-layout section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.docs-layout section ul span {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
}

.docs-layout main {
  margin-top: 20px;
}

.docs-layout main pre div {
  padding: 15px;
}
.docs-layout main h2 {
  margin-bottom: -5px;
}

/* .docs-layout main p {
  margin: 25px 0;
} */

.docs-layout main code {
  font-size: 14px;
  padding: 2px;
}

.docs-layout main p code {
  font-size: 20px;
  color: var(--link-color);
}

.docs-layout th {
  background-color: #ddd;
}

.docs-layout tr:nth-child(odd) {
  background-color: #eee;
}

.docs-layout th, td {
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.docs-layout td:nth-child(1),
.docs-layout td:nth-child(2) {
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  color: var(--code-color);
}

.docs-layout td:nth-child(2) {
  color: var(--code-color);
}

.docs-layout .demo {
  margin-top: 15px;
  padding: 15px 35px 35px 35px;
  background-color: #eee;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  .docs-layout th {
    background-color: #555;
  }

  .docs-layout tr:nth-child(odd),
  .docs-layout .demo {
    background-color: #222;
  }
}